.home-1,
.home-2 {
  display: inline-block;
}
.home-1 {
  font-size: 1rem;
  background-image: linear-gradient(to right, #00688B 0%, #00CDCD 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-left: 23px;
}
.home-2 {
  font-size: 1rem;
  padding-top: 19px;
  color: #ffffff;
  padding-left: 5.5px;
}
.center {
  position: absolute;
  /* top: 50%; */
  margin-top: 35%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  width: 45vw;
  color: #ffffff;
}
.center a {
  color: #ffffff;
}
.center a:hover {
  text-decoration: underline;
}
.center h4 {
  display: block;
}

.innerimage{
  text-align: center;
  display: block;
}

.centertext{
  text-align: center;
}

.item {
  /* To correctly align image, regardless of content height: */
  vertical-align: top;
  display: inline-block;
  /* To horizontally center images and caption */
  text-align: center;
  /* The width of the container also implies margin around the images. */
  width: 120px;
}
.item img {
  width: 100px;
  height: 100px;
  background-color: grey;
}
.item caption {
  /* Make the caption a block so it occupies its own line. */
  display: block;
}