.home-1,
.home-2 {
  display: inline-block;
}
.home-1 {
  font-size: 1rem;
  background-image: linear-gradient(to right, #00688B 0%, #00CDCD 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-left: 23px;
}
.home-2 {
  font-size: 1rem;
  padding-top: 19px;
  color: #ffffff;
  padding-left: 5.5px;
}
.center {
  position: absolute;
  margin-top: 10%;
  left: 50%;
  transform: translate(-50%, 0%);
  color: #ffffff;
  width: 45vw;
}
.center a {
  color: #ffffff;
}
.center a:hover {
  text-decoration: underline;
}
.center h4 {
  display: block;
}

.innerimage{
  text-align: center;
  display: block;
}

.centertext{
  text-align: center;
}

.item {
  /* To correctly align image, regardless of content height: */
  vertical-align: top;
  display: inline-block;
  /* To horizontally center images and caption */
  text-align: center;
  /* The width of the container also implies margin around the images. */
  width: 120px;
}
.item img {
  width: 100px;
  height: 100px;
  background-color: grey;
}
.item caption {
  /* Make the caption a block so it occupies its own line. */
  display: block;
}

@media only screen and (min-device-width: 515px) and (max-device-width: 800px)  {
  .center {
    width: 75vw;
  }
}

@media only screen and (min-device-width: 399px) and (max-device-width: 514px)  {
  .center {
    width: 90vw;
  }
}
@media only screen and (min-device-width: 200px) and (max-device-width: 398px)  {
  .center {
    margin-top: 700px;
    width: 90vw;
  }
}