.mainContainer{
  height:900;
}
.contentContainer{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 700;
}
.courses{
  display: flex;
  flex-direction: column;
}
.MuiTypography-h5{
  color: #00688B;
}
.courses h2{
  text-align:center;
}

.center {
  position: absolute;
  margin-top: 22%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  width: 45vw;
  color: #ffffff;
}

.home-logo-cs {
  font-size: 50px;
  text-align: center;
  margin-top: 180px;
  margin-bottom: 70px;
  transform: translate(-50%, -50%);
  -webkit-transform: none;
  background-image: linear-gradient(to right, #00688B 0%, #00CDCD 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.top-bar {
  position: sticky;
  top: 0px;
  z-index: 500;
  background: #282c34;
  height: 60px;
  width: 100%;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.10);
}
.top-bar input {
  margin-left: 5.4vw;
  height: 5.5vh;
  margin-top: 7px;
  box-shadow: none;
  border: 1px solid #ffffff;
  display: inline-flex;
}
.top-bar h3 {
  display: inline;
  font-size: 1rem;
}
.top-bar h3:hover {
  cursor: pointer;
  text-decoration: none;
}
.main-about-bar{
  font-size: 16px;
}
.main-about-bar {
  float: right;
  padding: 15px;
  color: #ffffff;
}
.main-about-bar:hover {
  font-weight: bold;
  color: #ffffff;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  * {
    max-width: 100%;
  }
  .home-logo-cs{
     font-size: 30px; 
     margin-top: 90px;
  }
}

