.courses{
  padding:20px;
  /* float:left; */
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.home-logo-cs {
  position: absolute;
  top: 30%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  line-height: bold;
  font-weight: 10000000000;
  /* font-size: 150%; */
  display: inline;
  text-align: center;
  background-image: linear-gradient(to right, #00688B 0%, #00CDCD 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.top-bar {
  position: sticky;
  top: 0px;
  z-index: 500;
  background: #282c34;
  height: 60px;
  width: 100%;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.10);
}
.top-bar input {
  margin-left: 5.4vw;
  height: 5.5vh;
  margin-top: 7px;
  box-shadow: none;
  border: 1px solid #ffffff;
  display: inline-flex;
}
.top-bar h3 {
  display: inline;
  font-size: 1rem;
}
.top-bar h3:hover {
  cursor: pointer;
  text-decoration: none;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  * {
    max-width: 100%;
  }
}
