.home1,
.home2{
  display: inline-block;
}

.home1 {
  font-size: 1rem;
  background-image: linear-gradient(to right, #00688b 0%, #00cdcd 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-left: 23px;
}

.home2 {
  font-size: 1rem;
  padding-top: 19px;
  color: #ffffff;
  padding-left: 5.5px;
}

.hl {
  font-size: 50px;
  text-align: center;
  margin-top: 180px;
  margin-bottom: 70px;
  transform: translate(-50%, -50%);
  -webkit-transform: none;
  background-image: linear-gradient(to right, #00688b 0%, #00cdcd 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.inputForm {
  margin: auto;
  width: 700px;
  color: #ffffff;
}

/* Each label-input pair is a grid container for alignment purposes. */
.form-field {
  display: grid;
  grid-template-columns: 8em auto;
  justify-items: stretch;
  align-items: center;
}

.form-label {
  align-self: center;
  margin-top: 0.5rem; /* To counter the SCSS 0.5rem margin-bottom */
  font-size: 130%;
}

.form-input {
  margin-left: 1rem;
  height: 75%;
  border-radius: 4px;
  border-color: transparent;
  border-width: 0.5px;
}

#terms-checkbox {
  margin-right: 10px;
}

#prof-submit-button {
  width: 200px;
  margin-top: 10px;
  float: right;
  height: 50px;
  font-size: 150%;
  border-radius: 5px;
  border-color: transparent;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  * {
    max-width: 100%;
  }
  .hl {
    font-size: 30px;
    margin-top: 90px;
  }
}
