.invisible {
  display: none;
}
.loading-text {
  color: #545454;
  margin: 15px;
}
.about-bar{
  font-size: 16px;
}
.top-bar {
  position: sticky;
  top: 0px;
  z-index: 500;
  background: #282c34;
  height: 60px;
  width: 100%;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.10);
}
.top-bar input {
  margin-left: 4.5vw;
  height: 5.5vh;
  width: 600px;
  margin-top: 7px;
  padding: 0 58px 0 28px;
  box-shadow: none;
  border-radius: 35px;
  border: 1px solid #ffffff;
  display: inline-flex;
}
.top-bar h3 {
  display: inline;
  font-size: 1rem;
}
.top-bar h3:hover {
  cursor: pointer;
  text-decoration: none;
}
.heading-1 {
  margin-left: 23px;
  margin-right: 5.5px;
  font-size:45px;
  background-image: linear-gradient(to right, #00688B 0%, #00CDCD 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.heading-2 {
  font-size:45px;
  color: #ffffff;
}
.about-bar {
  float: right;
  padding: 15px;
  color: #ffffff;
  /* position: relative;
  left: 40px;
  top: 15px; */
}
.about-bar:hover {
  font-weight: bold;
  color: #ffffff;
}

.load-wrap {
  position: absolute;
  top: 50%;
  left: 24%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
