.invisible {
  display: none;
}
.loading-text {
  color: #545454;
  margin: 15px;
}
.about-bar{
  font-size: 16px;
}
.top-bar {
  position: sticky;
  top: 0px;
  z-index: 500;
  background: #282c34;
  height: 60px;
  width: 100%;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.10);
  margin: 0 auto;
}
.top-bar input {
  margin-left: 4.5vw;
  height: 5.5vh;
  width: 600px;
  margin-top: 7px;
  padding: 0 58px 0 28px;
  box-shadow: none;
  border-radius: 35px;
  border: 1px solid #ffffff;
  display: inline-flex;
}
.filters{
  display: inline;
  /* background: #ffffff; */
  color: #ffffff;
}
.top-bar h3 {
  display: inline;
  font-size: 1rem;
}
.top-bar h3:hover {
  cursor: pointer;
  text-decoration: none;
}
.heading-1 {
  margin-left: 23px;
  margin-right: 5.5px;
  font-size:45px;
  background-image: linear-gradient(to right, #00688B 0%, #00CDCD 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.heading-2 {
  font-size:45px;
  color: #ffffff;
}
.about-bar {
  float: right;
  padding: 15px;
  color: #ffffff;
  /* position: relative;
  left: 40px;
  top: 15px; */
}
.about-bar:hover {
  font-weight: bold;
  color: #ffffff;
}

.load-wrap {
  position: absolute;
  top: 50%;
  left: 24%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.orderSel {
    display: block;
    /* position: relative;
    top: 16px;
    left: 30px; */
    float: center;
    position: top;
    /* padding-left: 35px;
    margin-bottom: 12px; */
    cursor: pointer;
    font-size: 1rem;
    color: #ffffff;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

  
/* Hide the browser's default radio button */
.orderSel input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.orderSel:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.orderSel input:checked ~ .checkmark {
    background-color: #00688B;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.orderSel input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.orderSel .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}