.main {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    line-height: normal;
}
.about{
    font-size: 16px;
}
.home{
    margin: 0 auto;
}
.home-1,
.home-2 {
  display: inline-block;
}
.home-1 {
  font-size: 1rem;
  background-image: linear-gradient(to right, #00688B 0%, #00CDCD 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-left: 23px;
}
.home-2 {
  font-size: 1rem;
  padding-top: 19px;
  color: #ffffff;
  padding-left: 5.5px;
}
.home-logo {
    padding-top: 100px;
    font-weight: 1200;
    font-size: 45px;
    display: inline;
    text-align: center;
    background-image: linear-gradient(to right, #00688B 0%, #00CDCD 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.home-logo-2 {
    padding-top: 100px;
    display: inline;
    font-size: 45px;
    padding-left: 5.5px;
    text-align: center;
    color: #ffffff;
    margin-right: 50px;
}
.home input {
    width: 600px;
    height: 55px;
    font-size: inherit;
    padding: 0px 58px 0px 28px;
    border-radius: 30px;
    border: none;
    border: 1.3px solid #ffffff;
    outline: 0;
    box-shadow: 2px 4px 8px 0 rgba(0, 0, 0, 0.15);
    transition: all 300ms ease;
}
.glass {
    display: inline-block;
    position: relative;
    right: 50px;
    top: -3px;
    width: 30px;
    height: 30px;
}
.glass:hover {
    cursor: pointer;
}
.help-tip{
    position: absolute;
    top: 19px;
    right: -35px;
    text-align: center;
    background-color: #00688B;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 25px;
    line-height: 40px;
    cursor: default;
}

.help-tip:before{
    content:'?';
    font-weight: bold;
    color:#fff;
}

.help-tip:hover{
    cursor: pointer;
    background-color: #006F8F;
}

.help-tip:hover p{
    display:block;
    transform-origin: 100% 0%;

    -webkit-animation: fadeIn 0.3s ease-in-out;
    animation: fadeIn 0.3s ease-in-out;
}

.help-tip p{    /* The tooltip */
    display: none;
    text-align: left;
    background-color: #1E2021;
    padding: 20px;
    width: 240px;
    position: absolute;
    border-radius: 3px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    right: -4px;
    color: #FFF;
    font-size: 13px;
    line-height: 1.4;
}

.help-tip p:before{ /* The pointer of the tooltip */
    position: absolute;
    content: '';
    width:0;
    height: 0;
    border:6px solid transparent;
    border-bottom-color:#1E2021;
    right:10px;
    top:-12px;
}

.help-tip p:after{ /* Prevents the tooltip from being hidden */
  width:100%;
  height:40px;
  content:'';
  position: absolute;
  top:-40px;
  left:0;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    * {
        max-width: 100%;
    }
    .home {
        text-align: center;
    }
    input {
        width: 61vw;
        margin-top: 2vh;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }
}
/* CSS animation */

@-webkit-keyframes fadeIn {
    0% { 
        opacity:0; 
        transform: scale(0.6);
    }

    100% {
        opacity:100%;
        transform: scale(1);
    }
}

@keyframes fadeIn {
    0% { opacity:0; }
    100% { opacity:100%; }
}