<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>MyCourseIndex</title>
</head>

<body>
    <h1>My Course Index: An Improved Piazza Algorithm</h1>
    <div class="Authors">
        <p>
            Authors:
            Magd Bayoumi (mb2363),
            Jenna Kressin (jek343),
            Souleiman Benhida (sb2342),
            Sheetal Athrey (spa42),
            Oscar So (ons4)
        </p>
    </div>
    <a href="https://github.com/oscarso2000/Piazza">GitHub Repository</a>
</body>

{% with messages = get_flashed_messages() %}
{% if messages %}
<ul class="flashes">
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}

{% from "_formhelpers.html" import render_field %}
<form method="post">
    <dl>
        {{ render_field(form.select) }}
        <p>
            {{ render_field(form.search) }}
        </p>
    </dl>
    <p><input type="submit" value="Search">
    </p>
</form>

</html>